//base sizing
$baseFont: 14.9px;
$full: 100%;
$maxWidth: 1036px;


//colors
$grey: #8a8888;
$greyLight:#4f4f4f;
$orange:#e67624;
$greyBlack:#444444;
$blueBlack:#029bb1;
$bluelight:#01d4f3;
$white: #ffffff;
$green:#2e856b;
